html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: lightblue;
}

body * {
    box-sizing: border-box;
}

h1, p {
    border: none;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    height: 42vw;
    width: 32vw;
    background: white;
    border: 5px solid;
    
}

@media (max-width: 1000px) {
    .calculator-container {
        height: 100%;
        width: 100%;
    }
}

.display-contianer {
    flex: 1;
    display: flex;
    background: #565656;
}

.display-content {
    flex: 1;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    margin: 10px 12px;
    background: white;
    
}

.display-content h1 {
    font-size: 1.5rem;
    text-align: center;
    flex-wrap: wrap;
    color: white;
    
    
}

.button-container {
    flex: 2.5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-auto-columns: 100%;
    background: gray;
}

.button {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    background-color: blue;
    color: white;
    margin: 2%;
    font-weight: 900;
}


.button:hover {
    cursor: pointer;
    background: orange;
}

.equal {
    width: 100%;
}